body {
  margin: 0;
  padding: 0;
  background-color: #000;
}

canvas {
  display: block;
}

.info-box {
  color: white;
  display: flex;
  font-family: sans-serif;
  font-size: 18px;
}

#score {
  margin-bottom: 6px;
  margin-top: 6px;
}

#level-info {
  margin-left: 12px;
}

#outer-container {
  padding-left: 10px;
}
#canvas-container {
  position: relative;
  display: flex;
  flex-direction: column;
  /* outline: 2px dashed red; */
  align-items: center;
}
#game-over-box {
  background-color: beige;
  color: black;
  margin: auto;
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  /* transform: translateX(50%); */
}

#display-and-control {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#controls {
  padding-left: 12px;
}

.pacman-life {
  width: 46px;
  height: 44px;
  background: url(pacman_life.png) 0 0;
}
/* BEGIN MODAL */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 24rem;
  border-radius: 0.5rem;
}

.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}

.close-button:hover {
  background-color: darkgray;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
/* END MODAL */
