body {
  margin: 0;
  padding: 0;
  background-color: #000;
}

canvas {
  display: block;
}

.info-box {
  color: white;
  display: flex;
  font-family: sans-serif;
  font-size: 18px;
}

#score {
  margin-bottom: 6px;
  margin-top: 6px;
}

#level-info {
  margin-left: 12px;
}

#outer-container {
  padding-left: 10px;
}
#canvas-container {
  position: relative;
  display: flex;
  flex-direction: column;
  outline: 2px dashed red;
  align-items: center;
}
#game-over-box {
  background-color: beige;
  color: black;
  margin: auto;
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  /* transform: translateX(50%); */
}

#display-and-control {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#controls {
  padding-left: 12px;
}
